#container {
text-align:center;
}
#container button{
  width:200px;
  height:50px;
  font-size: 1.5em;
}
h1{
  font-size: 5em;
}
.main{
  border-style: solid;
  border-width: medium;
  width: 1000px;
  height:400px;
  margin: 0 auto;
}
.panel-left{
  width:300px;
  float:left;
}
.arena{
  width:600px;
  float:left;
}